<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ProfileNavPages.GetPageNavClass(ViewContext, ProfileNavPages.EditProfile)" id="profile" asp-page="./EditProfile">Edit Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ProfileNavPages.GetPageNavClass(ViewContext, ProfileNavPages.ChangePassword)" id="change-password" asp-page="./ChangePassword">Change Password</a>
    </li>
</ul>
