@{
    Layout = "../Shared/_Layout";
}

<div class="h-100 container-fluid d-flex flex-column justify-content-md-center">
    <div class="row m-2 m-md-3">
        <div class="col-12 col-md-8 col-lg-6 mx-auto card bg-light p-4">
            @RenderBody()
        </div>
    </div>
</div>
