@page "/access-denied"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Sorry, you're not allowed to do this.</p>
</header>
