@page "/lockout"
@model LockoutModel
@{
    ViewData["Title"] = "Account locked";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Your account has been temporarily disabled. Please try again later.</p>
</header>
